*.pyc
*.o
.idea/
.eggs/
advntr.egg-info/
.DS_Store
./data/
hg19_chromosomes/*
!hg19_chromosomes/PLACE_HOLDER
vntr_data/*
results/
docs/_build/doctrees/
docs/_build/html/
docs/_build/html/_static
build
dist
pomegranate/*.c
pomegranate/*.so
hmm/*.c

.coverage
htmlcov/

filtering/.project
filtering/.cproject
filtering/.settings/
adVNTR-Filtering

